.gif_container {
  position: absolute;
  width: max-content;
  right: 0;
  top: 44px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #fdf8f5;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  height: 300px;
  transition: 0.5s width ease-in-out;
  border-radius: 10px;
  background-color: #ddaf94;
}
.gif_container::-webkit-scrollbar {
  width: 5px;
  background-color: #ddaf94;
  color: #266150;
}
/* Track */
.gif_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ddaf94;
  border-radius: 5px;
}

/* Handle */
.gif_container::-webkit-scrollbar-thumb {
  background: #4f4846;
  border-radius: 10px;
}

/* Handle on hover */
.gif_container::-webkit-scrollbar-thumb:hover {
  background: #4f4846;
}
.gif_form {
  display: flex;
  position: sticky;
  top: 3px;
  z-index: 5;
  width: max-content;
  height: 2.5rem;
  margin: 0 auto;
  align-items: center;
  border-radius: 5px;
  background-color: #f4f4f4;
}
.gif_form > input {
  flex: 1;
  border: none;
  font-weight: 400;
  background: transparent;
  padding: 0.3rem 0 0.3rem 10px;
  color: #4f4846;
  outline: none;
}

.gif_form > input::placeholder {
  color: #4f4846;
}

.gif_form > button {
  padding: 2px;
  color: #266150;
  border: none;
  border-left: 0.5px solid #4f4846 !important;
  height: 100%;
  border-radius: 0 5px 5px 0;
  width: max-content;
}
.gif_form > button:focus {
  border: none;
}

.img_container {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr;
}

.gif_img {
  width: 240px;
  object-fit: contain;
  transition: 0.5s all ease-in-out;
  padding: 5px 0;
}
.gif_img:hover {
  transform: scale(1.03);
}

.img_container > p {
  font-size: 1.5rem;
}
