.app {
  width: 50%;
  margin: 0 auto;
}

.app h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 1rem auto;
  text-transform: capitalize;
  color: #4f4846;
  font-weight: 800;
}

@media (max-width: 768px) {
  .app {
    width: 70%;
  }
  .app h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0.8rem auto;
  }
}
@media (max-width: 450px) {
  .app {
    width: 85%;
  }

  .app h1 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 0.6rem;
  }
}
@media (max-width: 350px) {
  .app {
    width: 95%;
  }
}
